<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ot.jgomez.recepcion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".views.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.addcliente.AddClienteActivity" />
        <activity android:name=".views.addreparacion.AddReparacionActivity" />
        <activity android:name=".views.solvereparacion.SolveReparacionActivity" />
        <activity android:name=".views.consultacliente.ConsultaClienteActivity" />
        <activity android:name=".views.listaclientes.ListaClientesActivity" />
        <activity android:name=".views.visualizacuentas.VisualizaCuentasActivity" />
        <activity android:name=".views.consultarreparaciones.ConsultarReparacionesActivity" />
        <activity
            android:name=".views.modificacliente.ModificaClienteActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".views.modificacliente.buscacliente.BuscaClienteActivity" />
        <activity android:name=".views.modificareparacion.ModificaReparacionActivity" />
        <activity android:name=".views.addrepuestos.AddRespuestosActivity" />
        <activity android:name=".views.visualizacuentasmensuales.CuentasMensualesActivity"></activity>
    </application>

</manifest>